# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Scripts & temporary logs
/scripts/inspect_tokens.py
